:root {

    /* COLORS */

    --color-bg-primary: #020617;
    --color-bg-secondary: #0F172A;
    --color-bg-surface: #1B2A41;

    --color-text-primary: #E5E7EB;
    --color-text-secondary: #94A3B8;

    --color-accent: #FF7A18;

    /* TYPOGRAPHY */

    --font-heading: "JetBrains Mono", monospace;
    --font-body: "Inter", sans-serif;

    /* SPACING SYSTEM */

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 64px;

    /* BORDER */

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;

    /* TRANSITIONS */

    --transition-fast: 150ms ease;
    --transition-medium: 300ms ease;
}

.texto-destaque {
    color: var(--color-accent);
}